#services {
  display: block;
  margin-top: -60px;

  .services {
    display: block;
    position: relative;

    &--bg {
      background: #010101 no-repeat center center;
      background-size: cover;
      height: 100%;
      right: -48%;
      position: absolute;
      top: 40px;
      width: 100%;
      z-index: -1;
    }

    .row,
    .container {
      height: 100%;
      position: relative;
      z-index: 1;
    }

    &--title {
      display: block;
      position: relative;

      &::before {
        background: darken($color__grey, 12%);
        content: "";
        display: block;
        height: 140px;
        margin: 30px;
        position: relative;
        width: 1px;
      }
    }

    &--caption {
      display: block;
      margin-bottom: 30px;
      padding-bottom: 1px;

      &__title {
        font-family: "Gordita Medium";
        font-size: 2.5rem;
        margin-top: 40px;
      }

      &__desc {
        font-size: 1.125rem;
        line-height: 1.875;
        margin: 30px 0;
        max-width: 440px;
        width: 100%;
      }
    }

    &--services {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 8px -10px;

      &__service {
        display: block;
        float: left;
        margin: 0 20px;
        padding: 0;
        width: calc(50% - 40px);

        &:nth-child(even) {
          margin-top: 40px;
        }

        &--card {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border: 2px solid #010101;
          height: 360px;
          text-align: left;
          padding: 40px 60px;
        }

        &--category {
          color: $color__text;
          font-size: 0.875rem;
        }

        &--title {
          font-family: "Gordita Medium";
          font-size: 1.375rem;
          margin: 12px 0 20px 0;
        }

        &--desc {
          font-size: 1.125rem;
          line-height: 1.875;
          max-width: 440px;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  #services {
    .services {
      &--caption {
        max-width: 500px;
        width: 100%;

        &__title {
          font-size: 1.125rem;
          margin-top: 20px;
        }

        &__desc {
          font-size: 1rem;
        }
      }

      &--services {
        margin: 0;

        &__service {
          margin: 0 0 20px 0;
          width: 100%;

          &--card {
            padding: 40px;
          }

          &--title {
            font-size: 1.125rem;
          }

          &--desc {
            font-size: 1rem;
          }

          &:nth-child(even) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
